# Core functionality - changes here should be rare!
/src/app.py                   @Shashidharsomidi
/src/backend/database.py      @Shashidharsomidi
/src/backend/routers/auth.py  @Shashidharsomidi

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Shashidharsomidi
